<!doctype html>
<html lang="de">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Title</title>
   </head>
   <body>
        {% for d in data %}
            <h1>{{ d.title }}</h1>


            {{ d.content|raw }}

        {% endfor %}
        <hr>
        {% if previous != Null %}
            <a href="{% if tag != Null %}/tag/{{ tag }}{% endif %}/page/{{ previous }}">Previous</a>
        {% endif %}
        <center>
        Page {{ pageno }} of {{ pagetotalno }}
        </center>

        {% if next != Null %}
            <a href="{% if tag != Null %}/tag/{{ tag }}{% endif %}/page/{{ next }}">Next</a>
        {% endif %}
   </body>
</html>
