Alias /app.php /opt/nbblog/web/app.php

<Directory /opt/nbblog/web>
    Require all granted
</Directory>

<Directory /var/www/html>
    <Files ~ "text\.xml$">
        Require all denied
    </Files>

    <Files ~ "nbblog\.db$">
        Require all denied
    </Files>

    # Configuration for DEV
    SetEnv 'folders-articles' /opt/articles
    SetEnv 'folders-extract' /var/www/html
    SetEnv 'folders-template' /opt/template
    SetEnv 'folders-templatecache' /tmp/templatecache
    SetEnv 'database-file' /var/www/html/nbblog.db
    SetEnv 'debug-mode' true

    Options -Indexes

    # We need this for articledisplay - it's on by default.
    # But just to make sure we set it here.
    DirectorySlash On

    RewriteEngine On

    # We need to have the protocol set for later redirects.
    RewriteCond %{HTTPS} =on
    RewriteRule ^(.*)$ - [env=proto:https]
    RewriteCond %{HTTPS} !=on
    RewriteRule ^(.*)$ - [env=proto:http]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ /app.php [QSA,L]
</Directory>
