<Directory /var/www/html>
    # Configuration for DEV
    SetEnv 'folders-articles' /opt/articles
    SetEnv 'folders-extract' /var/www/html
    SetEnv 'folders-template' /opt/template
    SetEnv 'folders-templatecache' /tmp/templatecache

    Options -Indexes

    # We need this for articledisplay - it's on by default.
    # But just to make sure we set it here.
    DirectorySlash On

    RewriteEngine On

    # We need to have the protocol set for later redirects.
    RewriteCond %{HTTPS} =on
    RewriteRule ^(.*)$ - [env=proto:https]
    RewriteCond %{HTTPS} !=on
    RewriteRule ^(.*)$ - [env=proto:http]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ /opt/nbblog/web/app.php [QSA,L]
</Directory>
